{% load static %}
<footer class="footer" style="background-color: #f8f9fa;">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card-group mt-3">
                    <div class="card m-3">
                        <h5 class="card-title text-center border-bottom p-2 m-3"> Who Iam</h5>
                        <div class="card-body">
                            <div class="text-center">
                                <img src="{% static 'img/logo.png' %}" alt="logo" width="150px">
                            </div>
                            <p style="text-transform: capitalize;">
                                ahmed osman it management and software programer full stack developer
                                in bython and django fream-work .
                            </p>
                        </div>
                    </div>
                    <div class="card m-3">
                        <h5 class="card-title text-center border-bottom p-2 m-3"> Web-Site</h5>
                        <div class="card-body">
                            <ul>
                                <li><a class="text-primary" href="https://www.python.org/doc/"> Python</a></li>
                                <li><a class="text-primary" href="https://docs.djangoproject.com/en/2.2/">
                                        Django</a></li>
                                <li><a class="text-primary" href="https://developer.mozilla.org/"> Mdn</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card m-3">
                        <h5 class="card-title text-center border-bottom p-2 m-3"> Sochial-Media</h5>
                        <h5 class="card-body text-center">
                            <a class="text-primary" href=""><i class="fa fa-facebook"></i></a>
                            <a class="text-primary" href=""><i class="fa fa-twitter"></i></a>
                            <a class="text-primary" href=""><i class="fa fa-instagram"></i></a>
                            <a class="text-primary" href=""><i class="fa fa-youtube"></i></a>
                            <a class="text-primary" href=""><i class="fa fa-telegram"></i></a>
                            <a class="text-primary" href=""><i class="fa fa-linkedin"></i></a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md text-center">
                <small class="text-primary"> All Copy-Right Resved By Ahmed-compony   {% now 'Y' %}</small>
            </div>
        </div>
    </div>
</footer>
